<div >
  <div>
	<label> Id : {{id}} </label>
  </div>

  <div>
	<label> Id du pokemon
		<input type="text" [(ngModel)]="id">
	</label>
	<label> Id du pokemon 2
		<input readonly type="text" [(ngModel)]="id">
	</label>
  </div>
  <div>
	 <input type="text" [(ngModel)]="filterSearch">

	<label> Choisissez votre pokemon :
		<select [(ngModel)]="choixPokemon">
			<option [value]="pokemon.id" *ngFor="let pokemon of this.pokemons | filterPokemonPipe: 'name': filterSearch">
				{{pokemon.name}}
			</option>
		</select>
	</label>

	<button (click)="go()">
		Go !
	</button>

    <div *ngIf="pokemon">
      <app-desc-pokemon [pokemon] = pokemon></app-desc-pokemon>
    </div>

  </div>



</div>
